<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TEA101G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  

  <filter>
	  <filter-name>backendLoginFilter</filter-name>
	  <filter-class>com.login.filter.backendLoginFilter</filter-class>
  </filter>
  <filter-mapping>
	  <filter-name>backendLoginFilter</filter-name>
	  <url-pattern>/backend/*</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	  <dispatcher>INCLUDE</dispatcher>
	  <dispatcher>ERROR</dispatcher>
	  <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
    <filter>
	  <filter-name>backendIndexFilter</filter-name>
	  <filter-class>com.login.filter.backendIndexFilter</filter-class>
  </filter>
  <filter-mapping>
	  <filter-name>backendIndexFilter</filter-name>
	  <url-pattern>/backend/index.jsp</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	  <dispatcher>INCLUDE</dispatcher>
	  <dispatcher>ERROR</dispatcher>
	  <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
    <filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.member.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/frontend/member/editProfile.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/frontend/member/memberSetting.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/frontend/member/aboutMe.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/frontend/member/changePassword.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	
  

</web-app>